In [2]:
# Import findspark and initialize.
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.3.1'
spark_version = 'spark-3.3.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [493 kB]
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:8 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [903 kB]
Get:9 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [960 kB]
Get:10 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [990 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Get:12 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,004 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,179 kB]
Get:15 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,251 kB]
Hit:17 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:18 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [21.8 kB]
Get:19 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [37.3 kB]
Fetched 7,225 kB in 4s (1,755 kB/s)
Reading package lists... Done

In [3]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [10]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True, ignoreLeadingWhiteSpace=True)

# Show DataFrame
df.show(3)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 3 rows

In [11]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('temp_df')

In [14]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
spark.sql('''
SELECT
  date_built            AS year,
  ROUND(AVG(price), 2)  AS average_price
FROM
  temp_df
WHERE
  bedrooms = 4
GROUP BY
  year
ORDER BY
average_price;
''').show()

+----+-------------+
|year|average_price|
+----+-------------+
|2016|    296050.24|
|2017|    296576.69|
|2010|    296800.75|
|2012|    298233.42|
|2014|    299073.89|
|2013|    299999.39|
|2011|     302141.9|
|2015|    307908.86|
+----+-------------+

In [16]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
spark.sql('''
SELECT
  date_built            AS year,
  ROUND(AVG(price), 2)  AS average_price
FROM
  temp_df
WHERE
  bedrooms = 3    AND
  bathrooms = 3
GROUP BY
  year
ORDER BY
average_price;
''').show()

+----+-------------+
|year|average_price|
+----+-------------+
|2015|     288770.3|
|2016|    290555.07|
|2014|    290852.27|
|2011|    291117.47|
|2017|    292676.79|
|2010|    292859.62|
|2012|    293683.19|
|2013|    295962.27|
+----+-------------+

In [18]:
#  5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
spark.sql('''
SELECT
  date_built            AS year,
  ROUND(AVG(price), 2)  AS average_price
FROM
  temp_df
WHERE
  bedrooms = 3    AND
  bathrooms = 3   AND
  floors = 2      AND
  sqft_living >= 2000
GROUP BY
  year
ORDER BY
average_price;
''').show()

+----+-------------+
|year|average_price|
+----+-------------+
|2011|    276553.81|
|2017|    280317.58|
|2010|    285010.22|
|2016|     293965.1|
|2015|    297609.97|
|2014|    298264.72|
|2013|    303676.79|
|2012|    307539.97|
+----+-------------+

In [20]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()
spark.sql('''
SELECT
  view,
  ROUND(AVG(price), 2)    AS average_price
FROM
  temp_df
WHERE
  price >= 350000
GROUP BY
  view
ORDER BY
view;
''').show()
end_time= time.time()
real_time1 = end_time-start_time
print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|average_price|
+----+-------------+
|   0|    403848.51|
|   1|    401044.25|
|  10|    401868.43|
| 100|    1026669.5|
|  11|    399548.12|
|  12|    401501.32|
|  13|    398917.98|
|  14|    398570.03|
|  15|     404673.3|
|  16|    399586.53|
|  17|    398474.49|
|  18|    399332.91|
|  19|    398953.17|
|   2|    397389.25|
|  20|    399522.81|
|  21|    399758.88|
|  22|    402022.68|
|  23|    403411.92|
|  24|    400284.92|
|  25|    401298.69|
+----+-------------+
only showing top 20 rows

--- 1.211876630783081 seconds ---

In [22]:
# 7. Cache the the temporary table home_sales.
cache = spark.sql("cache table temp_df")
cache

DataFrame[]

In [23]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [24]:
# 9. Using the cached data, run the query that filters out the view ratings with average price
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()
spark.sql('''
SELECT
  view,
  ROUND(AVG(price), 2)    AS average_price
FROM
  temp_df
WHERE
  price >= 350000
GROUP BY
  view
ORDER BY
view;
''').show()
end_time= time.time()
real_time2 = end_time-start_time


print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|average_price|
+----+-------------+
|   0|    403848.51|
|   1|    401044.25|
|  10|    401868.43|
| 100|    1026669.5|
|  11|    399548.12|
|  12|    401501.32|
|  13|    398917.98|
|  14|    398570.03|
|  15|     404673.3|
|  16|    399586.53|
|  17|    398474.49|
|  18|    399332.91|
|  19|    398953.17|
|   2|    397389.25|
|  20|    399522.81|
|  21|    399758.88|
|  22|    402022.68|
|  23|    403411.92|
|  24|    400284.92|
|  25|    401298.69|
+----+-------------+
only showing top 20 rows

--- 0.6430926322937012 seconds ---

In [25]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
df.write.partitionBy("date_built").mode("overwrite").parquet("parquet_partition_home_sales")

In [27]:
# 11. Read the formatted parquet data.
parquet_df= spark.read.parquet('parquet_partition_home_sales')
parquet_df

DataFrame[id: string, date: string, price: string, bedrooms: string, bathrooms: string, sqft_living: string, sqft_lot: string, floors: string, waterfront: string, view: string, date_built: int]

In [28]:
# 12. Create a temporary table for the parquet data.
parquet_df.createOrReplaceTempView('temp_view_parquet')

In [29]:
# 13. Run the query that filters out the view ratings with average price of greater than or eqaul to $350,000
# with the parquet DataFrame. Round your average to two decimal places.
# Determine the runtime and compare it to the cached version.

start_time = time.time()
spark.sql('''
SELECT
  view,
  ROUND(AVG(price), 2)    AS average_price
FROM
  temp_view_parquet
WHERE
  price >= 350000
GROUP BY
  view
ORDER BY
view;
''').show()
end_time= time.time()
real_time_f = end_time-start_time


print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|average_price|
+----+-------------+
|   0|    403848.51|
|   1|    401044.25|
|  10|    401868.43|
| 100|    1026669.5|
|  11|    399548.12|
|  12|    401501.32|
|  13|    398917.98|
|  14|    398570.03|
|  15|     404673.3|
|  16|    399586.53|
|  17|    398474.49|
|  18|    399332.91|
|  19|    398953.17|
|   2|    397389.25|
|  20|    399522.81|
|  21|    399758.88|
|  22|    402022.68|
|  23|    403411.92|
|  24|    400284.92|
|  25|    401298.69|
+----+-------------+
only showing top 20 rows

--- 1.1405768394470215 seconds ---

In [30]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table temp_df")

DataFrame[]

In [31]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached('temp_df')

False